@page "/EtcPage"

@inject SingletonService SingletonService
@inject TransientService TransientService


<h1> Counter </h1>
<p>Current Count : @_currentCount</p>

@* Singleton and Transient demo *@
<p> Singleton Count: @SingletonService.Value</p>
<p> Transient Count: @TransientService.Value</p>

@* component attribute *@
<DummyTextBox @attributes="DummyTextBoxParameters" />

@* JS examples *@
<button class="btn btn-primary" @onclick="IncrementCount">Click Me</button>
<button class="btn btn-primary" @onclick="IncrementCountJavaScript">Click Me JavaScript</button>


@* Cascading param examples *@
<h1 style="color: @Color"> Color </h1>
<h1 style="font-size: @Size"> Size </h1>

@* Cascading with class *@
<h1 style="color: @AppState.Color"> Color from AppState</h1>
<h1 style="font-size: @AppState.Size"> Size from AppState </h1>

<EditForm Model="AppState">

    <InputSelect @bind-Value="AppState.Color">
        <option>black</option>
        <option>yellow</option>
        <option>orange</option>
    </InputSelect>

    <InputSelect @bind-Value="AppState.Size">
        <option>10px</option>
        <option>20px</option>
        <option>30px</option>
        <option>40px</option>
        <option>50px</option>
        <option>60px</option>
        <option>70px</option>
    </InputSelect>

</EditForm>








