<h3>Movie</h3>

<GenericList List="Movies">
    <ElementTemplate Context="movie">
        <IndividualMovie Movie="movie" DisplayDeleteButtons="@_displayDeleteButton" DeleteMoviePrompt="DeleteMoviePrompt" EditMoviePrompt ="EditMoviePrompt">
        </IndividualMovie> 
    </ElementTemplate>
</GenericList>

<div>
    <Confirmation @ref="@Confirmation" OnEditConfirm="@EditMovie" OnDeleteConfirm="@DeleteMovie" MovieToEdit="@MovieToChange">
        @if (Confirmation.ConfirmType == Enums.ConfirmType.Delete)
        {
            <text> Are you sure you want to delete this movie? </text>
        }
        else
        {
            <text> Edit this movie </text>
        }
    </Confirmation>
</div>
