@using BlazorPracticeServer.Components.Generic
<div id="movies-list">
    <GenericList List="@Movies">
        <ChildContent Context="movie">
            <IndividualMovie Movie="movie" DisplayButtons="@_displayDeleteButton" DeleteMoviePrompt="DeleteMoviePrompt" EditMoviePrompt="EditMoviePrompt">
            </IndividualMovie>
        </ChildContent>
    </GenericList>



    @* Confirmation Modal *@
    <div>
        <Confirmation @ref="@Confirmation" OnEditConfirm="@EditMovie" OnDeleteConfirm="@DeleteMovie" MovieToEdit="@MovieToChange">
            @if (Confirmation.ConfirmType == Enums.ConfirmType.Delete)
            {
                <text> Are you sure you want to delete this movie? </text>
            }
            else
            {
                <text> Edit this movie </text>
            }
        </Confirmation>
    </div>
</div>