@page "/movie/search"
@using BlazorPracticeServer.Components.MovieComp
@using System.ComponentModel
@inject IRepository Repository

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="title" class="sr-only"> Title</label>
        <input type="text" class="form-control" id="title" placeholder="Movie Title"
               @bind-value="title" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e)=> TitleKeyPress(e))" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <h2>@selectedGenre </h2>
        <select class="form-control" @bind="selectedGenre">
            <option value="0">
                --Select a Genre
            </option>
            @foreach (var genre in _genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="upcomingReleases" @bind="upcomingReleases" />
        <label class="form-check-label" for="upcomingReleases">
            Upcoming Releases
        </label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="inTheaters" @bind="inTheaters" />
        <label class="form-check-label" for="inTheaters">
            Upcoming Releases
        </label>
    </div>
    <BSButton Color="@Color.Light" @onclick="@SearchForMovies">Filter</BSButton>
    <BSButton Color="@Color.Light" @onclick="@Clear">Clear</BSButton>
</div>
@if (SearchedMovies.Count == 0 || SearchedMovies == null)
{
    <p> No movie found </p>
}
else
{
    <MoviesList Movies="SearchedMovies"></MoviesList>
}


@code {
    string title = "";
    string selectedGenre = "0";
    bool upcomingReleases = false;
    bool inTheaters = false;

    private Genre _genre = new Genre();
    private List<Movie> SearchedMovies { get; set; } = new List<Movie>();
    private List<Genre> _genres { get; set; } = new List<Genre>();

    protected override void OnInitialized()
    {
        _genres = Repository.Genres;

    }


    private void TitleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // ...
        }
    }

    private void SearchForMovies()
    {
        int searchInputLength = title.Length;

        SearchedMovies = Repository.Movies.FindAll(m =>
            m.Title.ToLower().Substring(0, searchInputLength) == title.ToLower().Substring(0, searchInputLength)
                                                        && m.Genre.Id == int.Parse(selectedGenre)
            );
        StateHasChanged();
    }

    private void Clear()
    {
        title = string.Empty;
        selectedGenre = string.Empty;
        upcomingReleases = false;
        inTheaters = false;
        StateHasChanged();
    }
}
